In [3]:
import pandas as pd

df_indi = pd.read_csv('/home/sean/Data5703/dataset/bac/bac_full_indicators.csv')
df_indi

,date,open,low,high,volume,SMA_100,BBL_20_2.0,BBM_20_2.0,BBU_20_2.0,BBB_20_2.0,BBP_20_2.0,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,CUMLOGRET_1,close
0,2010-01-04,15.240000,15.120000,15.750000,180845200.0,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.690000
1,2010-01-05,15.740000,15.700000,16.209999,209521300.0,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.031988,16.200001
2,2010-01-06,16.209999,16.030001,16.540001,205257900.0,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.043648,16.389999
3,2010-01-07,16.680000,16.510000,17.190001,320868400.0,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076064,16.930000
4,2010-01-08,16.980000,16.629999,17.100000,220104700.0,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.067164,16.780001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1757,2016-12-23,22.510000,22.430000,22.650000,38093700.0,17.5793,20.514864,22.1860,23.857136,15.064781,0.623868,65.808561,0.865727,-0.170413,1.036140,0.364926,22.600000
1758,2016-12-27,22.709999,22.540001,22.740000,39891000.0,17.6606,20.864876,22.3015,23.738125,12.883659,0.607370,65.909217,0.813404,-0.178189,0.991593,0.365369,22.610001
1759,2016-12-28,22.620001,22.260000,22.670000,52141300.0,17.7334,21.302042,22.4035,23.504959,9.832914,0.466635,60.535947,0.740804,-0.200631,0.941435,0.352907,22.330000
1760,2016-12-29,22.330000,21.770000,22.389999,78979400.0,17.8021,21.494319,22.4475,23.400682,8.492542,0.265260,54.859419,0.649157,-0.233823,0.882979,0.338019,22.000000
1761,2016-12-30,22.020000,21.950001,22.260000,72361100.0,17.8712,21.611732,22.4775,23.343269,7.703424,0.281986,56.199764,0.577933,-0.244037,0.821970,0.342554,22.100000

In [5]:
import os
file_dir = '/home/sean/Data5703/dataset/bac/8combinations'
file_list = os.listdir(file_dir)

for file in file_list:
    df_indi = pd.read_csv('/home/sean/Data5703/dataset/bac/bac_full_indicators.csv')
    df_sent = pd.read_csv(file_dir + '/' + file)

    # drop open, high, low, close, volume in df_sent
    df_sent = df_sent.drop(['open', 'high', 'low', 'close', 'volume'], axis=1)

    # merge df_sent and df_indi
    df = pd.merge(df_sent, df_indi, on='date', how='inner')

    # save to csv
    df.to_csv(file_dir + '/indi_' + file, index=False)